@import '../../../assets/scss/variable.scss';

.header-section{
    background-color: $primary_color;
    padding: 15px 0;

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white_color;
        margin-bottom: 6px;

        .icon{
            display: flex;
            cursor: pointer;
        }
    }

    .search-items{
        .form-group{
            margin-bottom: 0 !important;

            input{
                @include sm{
                    font-size: 14px;
                }
            }
        }
    }
}