@import '../../../assets/scss/variable.scss';

.footer-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    .foot-btn{
        display: flex;
        a{
            text-decoration: none;
            border-radius: 0;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}